body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #00ff00;
}
body {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 1rem;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}
h2 {
  margin: 0;
}
#left {
  width: 60%;
  height: 100%;
  border: 1px solid #00ff00;
}
#right {
  width: 38%;
  height: 100%;
  border: 1px solid #00ff00;
  display: flex;
  align-items: center;
}
img {
  width: 100%;
}

.hidden {
  display: none;
}

#time-section {
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding: 0.5rem;
  align-items: center;
  border-bottom: dashed;
}
#title {
  font-size: 1.5rem;
  margin-right: 1rem;
}
/* input {
  outline: none;
  background: black;
  border: none;
  color: #00ff00;
} */
#todo-section {
  padding: 0.5rem;
  padding-top: 1.5rem;
  border-bottom: dashed;
  max-height: 450px;
  overflow: auto;
}
#todo-title {
  font-size: 1.2rem;
}
#todo-section::-webkit-scrollbar {
  width: 16px;
}
#todo-section::-webkit-scrollbar-track {
  background: black;
  border-left: 1px solid #00ff00;
}
#todo-section::-webkit-scrollbar-thumb {
  background: #00ff00;
  border-radius: 10px;
}
span {
  margin-right: 1rem;
}

button {
  background-color: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  cursor: pointer;
}
#todo-input {
  outline: none;
  background: black;
  color: #00ff00;
  width: 300px;
  border: 1px solid #00ff00;
  padding: 1rem;
}
#todo-input::placeholder {
  color: #04d604;
}

#weather-section {
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding: 0.5rem;
  align-items: center;
}
#weather span {
  font-size: 1.5rem;
}
