body,
html {
  font-family: "Montserrat", sans-serif;
  background-color: black;
  color: #00ff00;
}
body {
  width: 100%;
  height: 600px;
  margin: 0;
  padding: 1rem;
  display: flex;
  /* flex-direction: column;
  justify-content: center;
  align-items: center; */
  overflow: hidden;
}
h2 {
  margin: 0;
}
#left {
  width: 60%;
  height: 100%;
  border: 1px solid #00ff00;
}
#right {
  width: 40%;
  height: 100%;
  border: 1px solid #00ff00;
}
.hidden {
  display: none;
}

#time-section {
  display: flex;
  height: 40px;
  justify-content: flex-start;
  padding: 0.5rem;
  align-items: center;
  border-bottom: dashed;
}
#clock-title {
  font-size: 1.5rem;
  margin-right: 1rem;
}
/* input {
  outline: none;
  background: black;
  border: none;
  color: #00ff00;
} */
#todo-section {
  margin-top: 1rem;
  padding: 0.5rem;
  border-bottom: dashed;
}
span {
  margin-right: 1rem;
}

button {
  background-color: black;
  color: #00ff00;
  border: 1px solid #00ff00;
  cursor: pointer;
}
#todo-input {
  outline: none;
  background: black;
  color: #00ff00;
  width: 300px;
  border: 1px solid #00ff00;
  padding: 1rem;
}
#todo-input::placeholder {
  color: #04d604;
}
